@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold; text-shadow: 2px 2px #ffffff">Welcome to the Grand Circus Movie Database!</h1>
</div>


